<!-- Call Modal - Include this in marketing page -->
<!-- Requires: static/call_modal.js to be included in the page -->

<div id="callModal" class="modal">
    <div class="modal-content call-modal-content">
        <h3>📞 Phone Call</h3>
        
        <div class="call-interface">
            <div class="speech-bubble">
                <p id="contactSpeech"></p>
            </div>
        </div>
        
        <div class="modal-buttons">
            <button onclick="hangUp()" class="btn-hangup">Hang Up</button>
        </div>
    </div>
</div>
