<div class="left-menu">
    <a href="/club" class="menu-button {% if current_page == 'club' %}active{% endif %}">Club Overview</a>
    <a href="/calendar" class="menu-button {% if current_page == 'calendar' %}active{% endif %}">Calendar</a>
    <a href="/squad" class="menu-button {% if current_page == 'squad' %}active{% endif %}">Squad</a>
    <a href="/training" class="menu-button {% if current_page == 'training' %}active{% endif %}">Training</a>
    <a href="/marketing" class="menu-button {% if current_page == 'marketing' %}active{% endif %}">Marketing</a>
    <a href="/facilities" class="menu-button {% if current_page == 'facilities' %}active{% endif %}">Facilities</a>
    <a href="/competitions" class="menu-button {% if current_page == 'competitions' %}active{% endif %}">Competitions</a>
</div>
